body {
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
label {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bank-external {
    display: flex;
    width: 525px;
    height: px;
    border-radius: 15px;
}

.box-left {
    width: 220px;
    height: 100%;
    padding: 0 35px 0 15px;
    border-radius: 15px 0 0 15px;
    background-color: #285656;
}

.box-right {
    width: 325px;
    height: 100%;
    margin-left: -20px;
    border-radius: 15px;
    background-color: #f0f5f5;
}

.box-viwer {
    padding: 1.2rem;
    width: 100%;
}

.main-icon {
    padding: 20px 0;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.main-icon label {
    font-size: 20px;
    color: #FF8C00;
    margin-left: 10px;
}

.icon-modelo {
    font-size: 26px;
    border-radius: 50%;
    color: #FF8C00;
}


/**/

.content-center {
    display: flex;
    justify-content: center;
}