/* --------------------------------------------------------------------------------------------------------------------------------------
------------ DESENVOLVIDO POR CARIOCA COMMUNITY -- DISCORD: discord.gg/78sERGaWQm -- SCRIPT GRATUITO -- FAVOR NÃO REVENDER! -------------
----------------------------------------------------------------------------------------------------------------------------------------- */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

body{
	margin: 0;
  overflow: hidden;
}

b{
  font-weight: bold;
  color: #fff;
}


.notification-container{
    width: 340px;
    overflow: hidden;
		position: absolute;
    bottom: 250px;
		top: 200px;
		right: 40px;
}

.notification-box{
    background: linear-gradient(to left, #252525af, #0d0a0caf);
    padding: 10px 20px;
		display: flex;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.35);
		transition: .3s ease;
		overflow: hidden;
    opacity: 1;
    margin: 7px 0 0 0;
}

.fa-check, .fa-times, .fa-exclamation, .fa-bullhorn{
  color: #fff;
  font-size: 2em;
  vertical-align:middle;
}

.fill {
  color: #43d27d !important;
  font-size: 2em;
  position: absolute;
  left: 0;
  clip: rect(4px,50px,50px,0px);
  /* transition: clip 10000ms ease; */
}

/* .notification-box:hover .fill{
  clip: rect(28px,50px,50px,0px);
} */

.fill-imp {
  color: #43d27d !important;
  font-size: 2em;
  position: absolute;
  clip: rect(0px,50px,50px,0px);
  /* transition: clip 10000ms ease; */
}

/* .notification-box:hover .fill-imp{
  clip: rect(32px,50px,50px,0px);
} */

.group{
  margin: 0 0 0px 15px;
}

.negado{
  margin: 0 0 0px 5px;
}

.title{
    text-transform: uppercase;
		width: fit-content;
		padding: 1px 8px;
		border-radius: 50px;
		user-select: none;
		color: #fff;
		background: #43d27d;
  font-weight: bolder;
}
.success{
  background: #43d27d;
}
.denied{
  background: #f76f6f;
}

.important{
  background: #5db7ff;
}

.comunicado{
  background: #ffbc1f;
}

.red{
  color: #f76f6f !important;
}

.blue{
  color: #5db7ff !important;
}

.yellow{
  color: #ffbc1f !important;
}

.texto{
  margin: 5px 2px 0;
	font-family: 'Roboto', sans-serif;
  color: #fff;
}
/**/

.notification-container-topcenter{ 
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: absolute;
  top: 35px;
  left: calc( (100vw / 2) - 250px );
}
.grup-center{
  margin-bottom: 10px;
}
.grup-button{
  margin-left: calc(100% - 150px);
  width: 150px;
  display: flex;
  justify-content: space-between;
 
}
.grup-button div{
  padding: 5px;
  width: 65px;
  font-size: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  
  font-weight: bolder;
}
.notification-box-center{
    background: linear-gradient(to left, #252525af, #0d0a0caf);
    padding: 10px 20px;
		display: flex;
    justify-content: center;
		border-radius: 5px;
		box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.35);
		transition: .3s ease;
		overflow: hidden;
    opacity: 1;
    margin: 7px 0 0 0;
    flex-direction: column;
}
.title-center{
    text-transform: uppercase;
		width: fit-content;
    font-size: 18px;
		border-radius: 50px;
		user-select: none;
		color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
}
.texto.ceter{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-bottom: 10px;
  
}