body {
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
label {
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bank-external {
    display: flex;
    width: 1000px;
    height: px;
    border-radius: 15px;
}

.box-left {
    width: 220px;
    height: 100%;
    padding: 0 35px 0 15px;
    border-radius: 15px 0 0 15px;
    background-color: #285656;
}

.box-right {
    width: 800px;
    height: 100%;
    margin-left: -20px;
    border-radius: 15px;
    background-color: #f0f5f5;
}

.box-viwer {
    padding: 1.2rem;
    width: 100%;
}

.box-viwer h3 {
    color: #FF8C00;
}

.main-icon {
    padding: 20px 0;
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
}

.main-icon label {
    font-size: 20px;
    color: #FF8C00;
    margin-left: 10px;
}

.icon-modelo {
    font-size: 26px;
    border-radius: 50%;
    color: #FF8C00;
}


/**/

.content-center {
    display: flex;
    justify-content: center;
}


/**/

.card-btn {
    padding: 8px 8px;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.card-btn:hover {
    cursor: pointer;
    background-color: #103938;
    transition: 0.2s;
}

.card-btn p {
    margin-left: 10px;
}

.viwe-car-overflow {
    overflow: auto;
    max-height: 490px;
}

::-webkit-scrollbar {
    display: none;
}


/**/

.card-car {
    display: inline-block;
    padding: 10px;
    width: 360px;
    height: 90px;
    background-color: #285656;
    border-radius: 5px;
    color: #fff;
}

.card-car-internal {
    display: flex;
    width: 100%;
    height: 100%;
}

.card-car-img {
    width: 100px;
    height: 70px;
    border-radius: 5px;
    background-size: auto 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.card-car-info {
    width: 240px;
    height: 100%;
    padding: 0 10px;
}

.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.c-c {
    display: flex;
    align-items: center;
}

.j-c {
    display: flex;
    justify-content: center;
}

.full {
    width: 100%;
}

.full-h {
    height: 100%;
}

.fa-times {
    font-size: 20px;
}

.fa-times:hover {
    color: red;
    transform: scale(1.2);
    transition: .2s;
}